# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# config
config.json

# users and channels
# commands/phoeusers.js
# commands/chimusers.js
# commands/chimchannels.js
# commands/phoechannels.js

# system files
.DS_Store
