# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# config
/config/guild.json
/config/yagi.json
/config/psa.json

#database
/database/yagi.db

# system files
.DS_Store
.env
